.board {
    min-height: 400px;
    width: auto;
    background-color: rgb(169, 239, 252);
    border: 2em solid black;
}

.square-row {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background: rgb(255, 255, 255);
}

.square-row .square-box {
    height: 50px;
    width: 50px;
}

.square-row:nth-child(odd) .square-box:nth-child(odd) {
    background-color: black;
}

.square-row:nth-child(even) .square-box:nth-child(even) {
    background-color: black;
}